@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  width: 75vw;
  height: 85vw;
  margin: 40px auto;
  border: 3px dashed #000;
  position: relative;
}

.inner-container {
  width: 40vw;
  height: 50vw;
  border: 2px solid #00f;
  margin: 200px auto;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute {
  background-color: #00f;
  position: absolute;
  top: 0;
  left: 0;
}

.relative {
  background-color: red;
  position: relative;
  top: 120px;
  left: 240px;
}
.fixed {
  background-color: green;
  position: fixed;
}
.sticky {
  background-color: gold;
  position: sticky;
  top: 0;
}